[submodule "matrix-games"]
	path = matrix-games
	url = https://github.com/dcbrwn/matrix-games.git
[submodule "faith"]
	path = faith
	url = https://github.com/dcbrwn/faith.git
[submodule "web-sequencer"]
	path = web-sequencer
	url = https://github.com/dcbrwn/web-sequencer.git
[submodule "2d-exercises"]
	path = 2d-exercises
	url = ssh://git@github.com/dcbrwn/2d-exercises.git
